div{
    width:300px;
    height:100px;
    background-color: hotpink;
    margin-bottom:10px;
}

/* box1 테두리 검정색, 2px, 기본선 */
.box1{
    border-width:2px;
    border-style:solid;

}
/* box2 테두리 10px 점선, 파랑으로 오른쪽 */
.box2{
    border-right-width:10px;
    border-right-style:dotted;
    border-right-color:blue;
}

/* box3 테두리 5px 실선, 초록 */
.box3{
    border:5px solid green;
}

/* box4 모서리 둥글게 위쪽-왼쪽 */
.box4{
    border-top-left-radius:20px;
}
/* box5 사방으로 둥글게 10px */
.box5{
    border-radius:10px;
}
/* box6 위쪽왼쪽, 아래쪽 오른쪽 10px 위쪽오른쪽 아래쪽 왼쪽 30px */
.box6{
    border-radius:10px 30px;
}

/*위쪽 왼쪽 5px 위쪽 오른쪽 아래 왼쪽 40px 아래 오른쪽 10px */
.box7{
    border-radius:5px 40px 10px;
}
/* 시계방향 */
.box8{
    border-radius:5px 20px 40px 0;
}
/*x축과 y축의 둥글기를 다르게 10px 30px*/
.box9{
    border-radius:10px/30px;
}
.box10{
    border:10px dashed blue;
}
.box11{
    outline:10px dashed green;
}