body{
    margin:o;
}

div{
    width: 100px;
    height: 100px;
}
.box1{
    background: red;
    position: absolute;
    top:50px;
    left:50px;
    z-index: 70px;
}
.box2{
    background: green;
    position: absolute;
    top: 70px;
    left:70;
}
.box3{
    background: blue;
}
