table,th,td{
    border-collapse: collapse;
}
table{
    border-top:2px solid #1e61a8;
    width: 800px;
}

tr{
    /* border: 1px solid red; */
}
th{
    border:1px solid #999;
    padding: 10px;
    background: #ddd;
}
td{
    border:1px solid #999;
    padding: 5px;
}

table strong{
    color: green;
}
table span{
    color: orangered;
}

table td:first-child{
    border-left:none;
}

table td:last-child{
    border-right: none;
}