body,h1,h2,h3,h4,h5,h6,dl,dt,ul,ol,li,p,form,fieldset,button,input{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #666;
}

img{
    vertical-align: top;
}

i,em,address{
    font-style: normal;
}

.clearFix::after{
    content: "";
    display: block;
    clear: both;
}

.center{
    width: 1180px;
    margin: 0 auto;
    /* background-color: rgba(255,0,0,0.3); */
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #666;
}

.blind{
    position: absolute;
    top:-9999px;
}

/* 사이트 */

/* 1. header */
header{
    border-top: 5px solid #009223;
    position: relative;
    z-index: 1000;
}

header>.center{
    position: relative;
    }

header .logo{
    text-align: center;
    padding-top: 35px;
}
.gnb{
    /* background-color: skyblue; */
    position: absolute;
    top: 50px;
    right: 0;
}

.gnb>li{
    display: inline-block;
    margin-left: 15px;
}
.gnb>li:first-child{
    position: relative;
    padding-right: 15px;
}
.gnb>li:first-child::after{
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background-color: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
}
.gnb>li>a{
    display: block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}
.gnb>li:nth-child(3)>a{
    width: 30px;
    background: url(../images/icon_utill_global.png);
    text-indent: -9999px;
}

/* nav */
.sub{
    display: none;
}
#nav{
    text-align: center;
    padding: 30px 0 20px;
}
#nav>li{
    display: inline-block;
    width: 165px;
    position: relative;
}
#nav>li>a{
    color: #292929;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.04em;
}
#nav>li:hover>a{
    color: #009223;
}

/* 서브메뉴 보기 */
.sub{
    display: none;
    width: 100%;
    position: absolute;
    background: white;
    padding:25px 0 10px;
    line-height: 2;
    height: 200px;
    z-index: 100;
    top:47px;
}
.sub>li>a:hover{
    color: #009223;
    text-decoration: underline;
}
#nav:hover .sub{
    display: block;
}
#nav:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 260px;
    background: white;
    position: absolute;
    top:140px;
    border-top: 1px solid #ccc;
    margin-top: 15px;
}

/* 2. .mainbanner */
.mainbanner{
    height:440px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.banner{
    width: 400%;
    height:100%;
    z-index: 3;
}

/* 부모의 1/4 너비 */
.banner>li{
    width: 25%;
    height:100%;
    float: left;
}

.banner>li>a{
    display: block;
    height: 100%;
    width: 100%;
    background-position-x:center ;
}
.banner>.b1>a{
    background-image: url(../images/main_PC_1920x440_20201006040046969.jpg);
}
.banner>.b2>a{
    background-image: url(../images/main_PC_1920x440_20210205043330107.jpg);
}

.banner>.b3>a{
    background-image: url(../images/main_PC_1920x440_20210302111138000.png);
}
.banner>.b4>a{
    background-image: url(../images/main_PC_1920x440_20210302111248934.png);
}

.mainbanner>.center{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -585px;
}
.mainbanner .pager{
    position: absolute;
    right: 0;
    bottom: 0;
}

.mainbanner .pager>li{
    display:inline-block;
    margin:0 5px;
}
.mainbanner .pager>li>a{
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 30px;
    text-indent: -9999px;
}
.mainbanner .pager>.active>a{
    width: 30px;
    background-color: #ffc300;
}
.search_wrap{
    position: absolute;
    z-index: 5;
}
.search{
    position: absolute;
    left:50%;
    top:580px;
    z-index: 5;
}
.search>ul>li{
    float: left;
}
.search>ul>li>a{
    font-size: 22px;
    font-weight: bold;
    display: block;
    width: 300px;
    height: 80px;
    text-align:center;
    line-height:80px;
}
.search>ul>li>a>strong{
    padding-left: 10px;
}
.search li:first-child>a{
    color: #292929;
    border-radius: 30px 0 0 0;
    background-color: #ffce32;
    background-image:url(../images/icon_map.png);
    background-repeat:no-repeat;
    background-position:75px center;
}

.search li:last-child>a{
    color:#fff;
    border-radius: 0 0 30px 0;
    background-color: #009223;
    background-image:url(../images/icon_franchise.png);
    background-repeat:no-repeat;
    background-position:50px center;
}
/* 3. #cointainer */
.container{
    background-color: #fff;
    padding: 120px 0 30px 0;
    height: 560px;
}
.container>.menu{
    position: relative;
}
.menu_hd{
    padding-bottom: 33px;
}
.menu_hd>h2{
    color: #292929;
    font-size: 40px;
    font-weight: bold;
    background: url(../images/bul_tit.png) 0 12px no-repeat;
    padding: 17px 0 0 25px;
}
.menu_hd>ul{
    position: absolute;
    right: 0;
    top: 44px;
}
.menu_hd>ul>li{
    float: left;
    margin-left: 23px;
    border-right: 1px solid #ddd;
    line-height: 16px;

}
.menu_hd>ul>li:first-child>a{
    color: #009223;
    font-weight: bold;
}
.menu_hd>ul>li>a{
    color: #666666;
    font-weight: 500;
    font-size: 16px;
    padding-right: 25px;
}

.menu_hd>ul>li:last-child{
    border:none;
}

.menu_slider>.Wrap>ul{
    width: 1750px;
}
.menu_slider>.Wrap>ul>li{
    position: relative;
    width: 16.6666%;
    height: 320px;
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
}

.menu_slider>.Wrap>ul>li img{
    height: 182px;
}
.menu_slider>.Wrap>ul>li:hover img {
    width: 110%;
    height:70%;
}

.menu_slider>.Wrap>ul>li:hover::after{
    content:"";
    background: url(../images/btn_more.png);
    width: 98px;
    height: 98px;
    position: absolute;
    left: 120px;
    top: 165px;
}
.menu_slider>.Wrap>ul>li>strong{
    font-size: 18px;
    color: #292929;
    margin: 3px 0 10px;
    display: block;
    text-align: center;
}
.menu_slider>.Wrap>ul>li:hover strong{
    font-size: 22px;
    margin: 20px ;
    padding-left: 28px;
}
.menu_slider>.Wrap>ul>li>p{
    font-size: 13px;
    color: #999999;
    line-height: 21px;
    width: 260px;
    letter-spacing: -0.04em;
    text-align: center;
}
.menu_slider>.Wrap>ul>li:hover p{
    display: none;
}
.menu_slider{
    overflow: hidden;
}
.next>a{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.next>a:first-child{
    background: url(../images/controls.png) no-repeat;
    position: absolute;
    top: 150px;
    font-size: 0;
    line-height: 0px;
    text-indent: -9999px;
    background-position: 0 0;
    left: -150px;
}
.next>a:first-child:hover{
    background-position-y:-50px;
}
.next>a:last-child{
    right: -150px;
    background: url(../images/controls.png) no-repeat;
    background-position: -50px 0;
    position: absolute;
    top: 150px;
    font-size: 0;
    line-height: 0px;
    text-indent: -9999px;
}
.next>a:last-child:hover{
    background-position-y:-50px;
}

.content_wrap{
    height: 700px;
    margin:0 auto ;
    padding: 80px 0 0 0;
    background: url(../images/bg_content.gif) repeat;
    position: relative;
}
.method{
    background: url(../images/bg_utilization.png) no-repeat;
    width: 400px;
    height: 300px;
    position: relative;
    margin-left:5px;
    float: left;
}
.method>h3{
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
    position: absolute;
    left: 39px;
    top: 38px;
}
.method>.btn{
    position: absolute;
    left: 41px;
    bottom: 42px;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 92px;
}
.method>.btn>a{
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.history{
    float: left;
    width: 700px;
    position: relative;
}

.history>h3{
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
    position: absolute;
    left: 410px;
    top: 38px;
}

.history>.btn{
    position: absolute;
    left: 410px;
    bottom: 42px;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 128px;
}

.history>.btn>a{
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.content_Bottom{
    margin: 30px 0 0 5px;
}

.new{
    background-color: #fff;
    width: 870px;
    height: 300px;
    border-radius: 30px 0 30px 0;
    position: relative;
    float: left;
}

.new>.new_hd{
    position: absolute;
    top: 75px;
    left: 60px;
}

.new>.new_hd>h3{
    color: #292929;
    font-size: 30px;
    font-weight: bold;
    background: url(../images/bul_tit.png) no-repeat;
    min-height: 60px;
    padding: 17px 0 0 25px;
}

.new>.new_hd>p{
    text-align: center;
    line-height: 26px;
}

.new>.list{
    position: absolute;
    left: 389px;
    top: 76px;
}

.new>.list>ul>li{
    margin-top: 21px;
}

.new>.list>ul>li>a{
    display: inline-block;
    font-size: 16px;
    color: #292929;
    position: relative;
    letter-spacing: -0.04em;
}

.new>.list>a{
    display:inline-block;
    color:#999999;
    font-size: 14px;
    padding: 25px 0 8px;
}

.new>.list>ul>li:hover>a{
    color:#009223;
    text-decoration: underline;
}

.icon_logo{
    float: left;
    margin-left: 30px;
}

.quick{
    text-align: center;
    background-color: #fff;
    padding: 40px 0 37px;
}

.quick>ul>li{
    float: left;
    margin-left: 80px;
}
.quick>ul>li>a{
    display: block;
    overflow: hidden;
    position: relative;
    height: 70px;
    padding-left: 90px;
}
.quick>ul>li>a>.icon{
    background:url(../images/icon_quickmenu.png);
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}

.quick>ul>li:nth-child(2)>a>.icon{
    background-position: -70px 0px;
}

.quick>ul>li:nth-child(3)>a>.icon{
    background-position: -140px 0px;
}
.quick>ul>li:nth-child(4)>a>.icon{
    background-position: -210px 0px;
}
.quick strong{
    color: #292929;
    font-size: 18px;
    display: block;
    margin-top: 12px;
    text-align: left;
}

.quick span{
    color: #999999;
    font-size: 13px;
    display: block;
    margin-top: 3px;
    text-align: left;
}

/* 4. footer */
#footer{
    overflow: hidden;
    margin-top: 770px;
    background-color: #292929;
    color: #666666;
    padding: 20px 0;
    position: relative;
    z-index: 1000;
}

#footer:after {
    overflow: hidden;
    content:"";
    position: absolute;
    left: 0;
    top: 59px;
    width: 100%;
    height: 1px;
    background-color: #3b3b3b;
}
#footer>.center>.footTop{
    margin-bottom: 25px;
}

#footer>.center>.footTop>ul>li{
    float: left;
    margin-right: 29px;
}

#footer>.center>.footTop>ul>li>a{
    font-size: 14px;
}

#footer>.center>.footTop>ul>li>a>strong{
    color: #bbbbbb;
}

#footer .footBottom{
    position: relative;
}
#footer>.center>.footBottom>span{
    position: relative;
    display: inline-block;
    margin-top: 19px;
    font-size: 13px;
}

#footer>.center>.footBottom>p{
    font-size: 13px;
    line-height: 25px;
    padding-top: 2px;
}

#footer>.center>.footBottom>ul>li>a{
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
}
#footer>.center>.footBottom>ul>li:first-child>a{
    background: url(../images/icon_sns_instar.png) no-repeat;
    position: absolute;
    bottom: 3px;
    right: 105px;
}

#footer>.center>.footBottom>ul>li:last-child>a{
    background: url(../images/icon_sns_facebook.png) no-repeat;
    position: absolute;
    bottom: 3px;
    right: 40px;
}
#footer>.center>.footBottom>ul>li:first-child:hover>a{
    background-position:-50px 0;
}
#footer>.center>.footBottom>ul>li:last-child:hover>a{
    background-position:-50px 0;
}
